<p>wish-list works!</p>
<!-- <button (click)="addToWishlist()">addToWishlist</button><br /> -->
<button (click)="getWishList(2)">getWishList</button><br />
<!-- <button (click)="removeFromWishList()">removeFromWishList</button><br /> -->
