<p>cart works!</p>

<!-- <button (click)="addToCart()">addToCart</button><br /> -->
<button (click)="getCart(2)">getCart</button><br />
<!-- <button (click)="removeFromCart()">removeFromCart</button><br /> -->
