<p>admin works!</p>
<button (click)="logout(1)">LogOut</button><br />
<button (click)="getUsers()">getUsers</button><br />
<!-- <button (click)="removeUser(2)">removeUser</button><br /> -->
<button (click)="getProducts()">getProducts</button><br />
<!-- <button (click)="addProduct()">addProduct</button><br /> -->
<!-- <button (click)="updateProduct()">updateProduct</button><br />
<button (click)="removeProduct()">removeProduct</button><br /> -->
