<p>user works!</p>
<!-- <button (click)="logout()">logout</button><br /> -->

<button (click)="getProducts()">getProducts</button><br />
<!-- <button (click)="getSortedProducts()">getSortedProducts</button><br /> -->
<!-- <button (click)="getCategoryProducts()">getCategoryProducts</button><br /> -->
